.navbar {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 7px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    transition: var(--transition);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 65px;
    transition: var(--transition);
}

.nav-logo:hover {
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: var(--text-dark);
    font-weight: 500;
    transition: var(--transition);
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary);
    transition: var(--transition);
}

.nav-links a:hover::after,
.nav-links a[aria-current="page"]::after {
    width: 100%;
}

.nav-links a:hover,
.nav-links a[aria-current="page"] {
    color: var(--primary);
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    color: var(--dark-blue);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .nav-links {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        gap: 20px;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .btn-primary {
        display: none;
    }

    .nav-container {
        justify-content: center;
    }
}
